autom4te.cache
ccode/.deps
ccode/.libs
ccode/plugincomponents/.deps
ccode/plugincomponents/.libs
ccode/Makefile
ccode/smartsim
config.status
config.log
config.h
libtool
Makefile
resource_tar/Makefile
vala/smartsim
vala/*.c
vala/*/*.c
*.o
*.so
*.lo
*.la
*~
